body{
  background-color: black;
  color: cadetblue;
  font-family: cursive;
}
a{
  color: white;
  text-decoration: none;
}
ul li{
  list-style-type: none;
}
table{
  width: 100%;
  border-color: white;
}
.textData, tr{
  text-align: center;
}
button{
  background-color: cadetblue;
  color: white;
  cursor: pointer;
  font-family: cursive;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
}